.App {
  text-align: center;
  background-color: dodgerblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.HomePage {
  background-color: dodgerblue;
  width: 100%;
  height: 800px;
}
.ShoppingList {
}

.TagsContainer {
  font-style: italic;
}

.ListContainer {
  padding: 5px;
  margin-top: 5px;
}
.ShoppingColumns {
  padding: 5px;
}

.Cart {
  width: 100%;
  height: 800px;
}

.SignIn {
  width: 100%;
  height: 800px;
}
.Input1 {
  width: 350px;
  height: 20px;
  padding: 15px;
  margin: 0 auto;
}
.Input2 {
  width: 350px;
  height: 20px;
  padding: 15px;
  margin: 0 auto;
}
.Input3 {
  width: 350px;
  height: 20px;
  padding: 15px;
  margin: 0 auto;
}
.Input4 {
  width: 350px;
  height: 20px;
  padding: 15px;
  margin: 0 auto;
}
.Input5 {
  width: 350px;
  height: 20px;
  padding: 15px;
  margin: 0 auto;
}
.buttonLogIn {
  width: 200px;
  height: 30px;
  color: dodgerblue;
  font-style: initial;
}

.SignUp {
  background-color: yellow;
  width: 100%;
  height: 800px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
