* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: skyblue;
}

.grid-container {
  width: 1000px;
  margin: 10px auto;
  padding: 32px;
  background-color: white;
  position: relative;
  float: right;
}

.grid {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  padding: 10px 30px;
  width: 300px;
}

ul.top-menu {
  position: absolute;
  right: 50px;
  top: 50px;
  margin: 0;
}

ul.top-menu li {
  display: inline-block;
}

ul.top-menu li:before {
  content: "|";
  margin: 0 4px;
}

ul.top-menu li:nth-child(1):before {
  content: "";
  margin: 0;
}
